@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.container{
width: 100%;
height: 8800px;
background-color: black;
}
.whiteSpace{
    position: absolute;
    height: 7800px;
    width: 100%;
    background-color: white;
    border-radius: 200px;
    top:  500px;
    z-index: 1;
}
.greyspace{
    position: absolute;
    width: 80%;
    height: 800px;
    background-color: grey;
    border-radius: 100px;
    top: 450px;
    left: 10.41%;
    
}
.logo{
    position: absolute;
    left: 600px;
    top:300px;
}
.article{
    position: absolute;
    text-align: center;
    top: 1100px;
    vertical-align: middle;
}
p{
    position: relative;
    color: black;
    text-align: center;
    text-indent: 70%;
    font-style: normal;
font-size: 25px;
line-height:50px;
vertical-align: middle;
margin-left: 50px;
margin-right: 50px;
font-family: 'Montserrat', sans-serif;
}
.card{
    position: absolute;
    top: 7000px;
    border-radius: 0px 0px 20px 20px;
    padding: 329px 460px;
background-color: white;
left: 500px;
text-align: center;
box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
z-index: 1;
}
.first{
    position: absolute;
    top: 100px;
    left: 40px;
}
.second{
    position: absolute;
    top: 310px;
    left: 50px;
}
.third{
    position: absolute;
    top: 540px;
    left: 50px;
}
.button1{
    background-color: #00ffff;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 150px;
right: 70px;
  color: black;
  padding: 5px 17px;
  text-align: center;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background-image: linear-gradient(to right, #00ffff);
}
.button2{
    background-color: #00ffff;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 370px;
right: 70px;
  color: black;
  padding: 5px 17px;
  text-align: center;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background-image: linear-gradient(to right, #00ffff);
}
.button3{
    background-color: #00ffff;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 570px;
right: 70px;
  color: black;
  padding: 5px 17px;
  text-align: center;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background-image: linear-gradient(to right, #00ffff);
}
h1{
    
    text-align: center;
    font-weight: 900;
    font-family:  "Bree serif" ;
    margin-top: 100px;
    font-size: 100px;
}
h2{
    text-align: center;
    font-family:  'Montserrat', sans-serif ;
}
.Related{
    position: absolute;
    font-weight: bold;
    text-align: left;
    font-family: "Bree Serif";
    font-size: 75px;
    top:6300px;
    margin-left: 70px;
}
h3{
    position: absolute;
    top: 0px;
    left: 30px;
    font-size: 40px;
    font-weight: 50px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}
h4{
    position: absolute;
    top:90px;
    font-size: 30px;
    left: 160px;
    font-family: 'Montserrat', sans-serif;
}
h5{
    position: absolute;
    top:255px;
    font-size: 30px;
    left: 160px;
    font-family: 'Montserrat', sans-serif;
}
h6{
    position: absolute;
    top:455px;
    font-size: 30px;
    left: 160px;
    font-family: 'Montserrat', sans-serif;
}
.text1{
    position: absolute;
    top: 170px;
    left: 170px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: gray;
}
.text2{
   position: absolute; 
    top: 350px;
    left: 170px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    text-align: left;
}
.text3{
    position: absolute;
    top: 565px;
    left: 170px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    text-align: left;
}

